body{
    background-color: #DCDCDC !Important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header h1{
    margin-bottom: 0em;
}

#header p{
    margin-top: 0em;
}

#createProvider{
    background-color: white;
    width: 23%;
    float: left;
    margin-right: 2%;
    box-shadow: 3px 3px 3px 3px grey;
}

#createProvider form{
    margin-bottom: 5%;
}

#providerList{
    background-color: white;
    width: 75%;
    float: left;
    display: inline-block;
    box-shadow: 3px 3px 3px 3px grey;
}

#name{
    font-weight: bold;
}

#email{
    font-weight: normal;
}

#specialty{
    float: right;
}